{% extends 'mainpage.html' %}

{% block content %}
<div class="container">
    <h2>Edit Toners | Toner ID :{{ toners.id }}</h2>
    <p>Edit the toner below:</p>
    <form role="form" action="edit_toners_save" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>Model Number</label>
                <input type="text" class="form-control" placeholder="Enter toner model" name="toner_model" id="toner_model"
                       value="{{toners.toner_model}}" >
                <input type="hidden" name="toner_id" value="{{toners.id}}">
            </div>
            <div class="col">
                <label>Toner Description</label>
                <select class="form-control" name="toner_printer" id="toner_printer" >
                    {% for item in items %}
                    <option value="{{item.id}}" {% if item.id == toners.toner_printer.id %} selected {% endif %} >
                        {{item.description}} {{item.model_no}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <button type="submit" class="btn btn-success mt-3 btn-action-ETF" disabled>Save</button>
        <a href="{% url 'view_toners' %}" id="btn-back" class="btn btn-primary mt-3">Back</a>
        <!-- Button trigger modal -->
        <button id="modal-confirm" type="button" style="display:none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#save-modal">
        </button>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="save-modal-label">Save Changes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to save changes ?
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'view_toners' %}" class="btn btn-secondary" >No</a>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </form>
</div>
<!--- Hidden data --->
<div class="text-center mt-5" style="display :none;" >
    <input id="toner_model2" value="{{ toners.toner_model}}">
    <input id="toner_printer2"  value="{{toners.toner_printer.id}}">
</div>
<!--- Hidden data --->



{% endblock %}