{% extends 'mainpage.html' %}

{% block content %}

<div class="container">
  <h2>Toner Details</h2>

  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <div class="table-responsive">
      <table class="table table-bordered">
          <thead>
          <tr>
              <th>Toner Model</th>
              <th>Issued to</th>
              <th>Employee Name</th>
              <th>Employee Designation</th>
              <th>Status</th>
              <th>Action</th>

          </tr>
          </thead>
          <tbody id="myTable">
          {% for detail in tonerdetails %}
          <tr>
              <td>{{detail.toner_model.toner_model}}</td>
              <td>{{detail.issued_to.name}}</td>
              <td>{{detail.employee_name}}</td>
              <td>{{detail.employee_designation}}</td>
              <td>{{detail.status}}</td>
              <td><a href="{% url 'print_toner_issue_vouchers' detail.id %}" target="_blank" rel="noopener noreferrer" class="btn btn-info">Print Issue Voucher</a>
                  <a href="{% url 'edit_tonerdetails_form' detail.id %}" class="btn btn-warning">Edit</a>
                  <a data-toggle="modal" data-target="#delete-modal{{ toner.pk }}" class="btn btn-danger">Delete</a></td>
          </tr>
          <!-- delete confirmation Modal -->
          <div class="modal fade" id="delete-modal{{ tonerdetails.pk }}" tabindex="-1" role="dialog"
               aria-labelledby="delete-modal-label"
               aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="delete-modal-label">Delete Toner Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <div class="text-center text-danger">
                              <span>Do you want to delete toner details ?</span>
                              <div class="text-dark mt-3 mb-2">Toner: <strong>{{detail.toner_model.toner_model}}</strong></div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <a href="{% url 'view_toners' %}" class="btn btn-secondary">Cancel</a>
                          <a href="{% url 'edit_tonerdetails_delete' detail.id %}" class="btn btn-danger"
                             type="submit">Delete</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- delete confirmation Modal -->
          {% endfor %}
          </tbody>
      </table>

    </div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
</div>
{% endblock %}