{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container" xmlns="">
  <h2>Toner Details</h2>
  <div class="input-group input-group-sm mb-2">
        <input class="form-control" id="search" type="text" placeholder="Search.." >
        <a href="{% url 'view_tonerdetails' item_id %}" id="item_id" data-value="{{item_id}}" class="btn btn-dark btn-sm"><i class="fas fa-sync-alt"></i></a>
  </div>
    <div class="table-responsive">
        {% csrf_token %}
        <table class="table table-bordered" id="myTable">
            <thead>
            <tr>
                <th>Toner Model</th>
                <th>Issued to</th>
                <th>Employee Name</th>
                <th>Employee Designation</th>
                <th>Date Dispatched</th>
                <th>Status</th>
                <th>Actions</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for detail in tonerdetails%}

            <tr id="{{detail.id}}" data-id="{{ detail.id }}">
                <td>{{detail.toner_model.toner_model}} {{detail.toner_model.toner_model.content_type}}</td>

                <td class="right-to-left-text">{{detail.issued_to.name}}</td>
                <td class="right-to-left-text">{{detail.employee_name}}</td>
                <td>{{detail.employee_designation}}</td>
                <td>{{detail.date_dispatched.date}}</td>
                <td>{{detail.status}}</td>
                <td>
                    <div class="button-container">
                        <a href="{% url 'print_toner_issue_vouchers' detail.id %}" target="_blank"
                           rel="noopener noreferrer" class="btn btn-info" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Print Issue Voucher"><i class="fas fa-print"></i></a>
                        <a href="{% url 'print_toner_sent_invoice' detail.id %}" target="_blank"
                           rel="noopener noreferrer" class="btn btn-info" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Print Invoice"><i class="fas fa-receipt"></i></a></a>
                        <button onclick="getCartData('{{detail.id}}','add')" data-detail="{{detail.id}}"
                                data-action="add" class="btn btn-secondary addtodispatch" enabled
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Add To Dispatch"><i
                                class="fas fa-box"></i></button>
                        <a href="{% url 'edit_tonerdetails_form' detail.id %}" class="btn btn-warning"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="fas fa-edit"></i></a>
                        <a data-bs-toggle="modal" data-bs-target="#delete-modal{{ detail.pk }}" class="btn btn-danger"
                           data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i
                                class="fas fa-trash"></i></a></a>
                    </div>
                </td>
                <td><input type="checkbox" name="detail_id[]" value="{{detail.id}}" id="bulk_delete_detail"></td>
            </tr>
            <!-- delete confirmation Modal -->
            <div class="modal fade" id="delete-modal{{ detail.pk }}" tabindex="-1" role="dialog"
                 aria-labelledby="delete-modal-label" data-bs-backdrop="static" data-bs-keyboard="false"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete-modal-label">Delete Toner Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center text-danger">
                                <span>Do you want to delete toner details ?</span>
                                <div class="text-dark mt-3 mb-2">Toner: <strong>{{detail.toner_model.toner_model}}</strong></div>
                                <div class="text-dark mt-3 mb-2">Employee Name: <strong>{{detail.employee_name}}</strong></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'view_toners' %}" class="btn btn-secondary">Cancel</a>
                            <a href="{% url 'edit_tonerdetails_delete' detail.id %}" class="btn btn-danger"
                               type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- delete confirmation Modal -->
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'tonerdetails_export_topdf' item_id %}"  rel="noopener noreferrer"  class="btn btn-secondary" id="btn-exporttopdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="export to pdf"><i class="fas fa-file-pdf"></i></a>
        <a href="{% url 'tonerdetails_export_toexcel' item_id %}" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" id="btn-exporttocsv" data-bs-toggle="tooltip" data-bs-placement="bottom" title="export to csv"><i class="fas fa-file-excel"></i></a>
        <a href="{% url 'view_toners' %}" class="btn btn-primary" id="btn-back-to-viewtoners" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back-to-viewtoners"><i class="fas fa-angle-double-left"></i></a>
        <button type="submit" class="btn btn-danger bulk_delete" style="display: none;" id="btn-bulkdelete">Bulk Delete</button>
        <button type="submit" class="btn btn-secondary" style="display: none;" id="btn-bulkdispatch">Bulk Dispatch</button>
    </div>




<!---------------------------- disable addtodispatch button --------------------------------->
<!--<script>

    $(document).ready(function(){
    var java_content_type_id = {{content_type_id}}
    var java_joined_ids = JSON.parse("{{joined_ids}}")
    var buttons=$(".addtodispatch")
    var java_detailId=[]
    var java_detailId_content_type_id=[]
    for(x=0;x<buttons.length;x++)
    {
    $('button.addtodispatch').each(function() {
        java_detailId[x++]= parseInt($(this).attr("data-detail"));
    });

    }
    for(y=0;y<java_detailId.length;y++)
    {
        java_detailId_content_type_id[y]=[java_detailId[y],java_content_type_id]
    }
    for(let i = 0; i<java_detailId_content_type_id.length; i++)
    {
        for(let j = 0; j<java_joined_ids.length; j++)
        {
                if(JSON.stringify(java_detailId_content_type_id[i])==JSON.stringify(java_joined_ids[j]))
                {
                    $(`button[data-detail="${java_detailId_content_type_id[i][i-i]}"]`).attr("disabled", true)
                    break;
                } else
                    {
                            $(`button[data-detail="${java_detailId_content_type_id[i][i-i]}"]`).attr("disabled", false)
                    }
        }
    }
});

</script>-->
<!---------------------------- disable addtodispatch button --------------------------------->

<!---------------------------- Messages after CRUD operations ------------------------------->
{% if messages %}
    {% for message in messages %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
    {% endfor %}
{% endif %}
<!---------------------------- Messages after CRUD operations ------------------------------->

<!---------------------------- Paginator ---------------------------------------------------->
<!--<script>
$(document).ready(function () {
    $("#myTable").DataTable({
        paging: true,
        pageLength: 10,
        lengthChange: false,
        bInfo: false,
        bSort: false,
        order:[],

    });
});
</script>-->
<!---------------------------- Paginator ---------------------------------------------------->

<!---------------------------- Search Function ---------------------------------------------->
<!--<script>
$(document).ready(function () {
var table = $('#myTable').DataTable();

// #myInput is a <input type="text"> element
$('#search').on( 'keyup', function () {
    table.search( this.value ).draw();
} );
});
</script>-->
<!---------------------------- Search Function ---------------------------------------------->


</div>
<div class="text-center mt-5" style="display: none;" >
    <input  id="content_type_id" data-value="{{content_type_id}}">
    <input  id="joined_ids" data-value="{{joined_ids}}">
</div>
{% endblock %}