{% extends 'mainpage.html' %}

{% block content %}

<div class="container">
  <h2>Available Toners</h2>
  <div class="input-group input-group-sm mb-2">
        <input class="form-control" id="search" type="text" placeholder="Search.." >
        <a href="{% url 'view_toners' %}" class="btn btn-dark btn-sm"><i class="fas fa-sync-alt"></i></a>
  </div>
  <div class="table-responsive" >
      <table class="table table-bordered" id="myTable">
          <thead>
          <tr class="chk-th">
              <th>Toner Description</th>
              <th>Model Number</th>
              <th>Total Quantity</th>
              <th>Remaining Quantity</th>
              <th>Action</th>

          </tr>
          </thead>
          <tbody>
          {% for toner in toners|dictsortreversed:"toner_printer.description" %}
          <tr>
              <td>{{toner.toner_printer.description}} {{toner.toner_printer.model_no}}</td>
              <td>{{toner.toner_model}}</td>
              <td>{{toner.total_qty}}</td>
              <td>{{toner.remaining_qty}}</td>
              <td><a href="{% url 'view_tonerdetails' toner.id %}" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Details"><i class="fas fa-file-alt"></i></a>
                  <a href="{% url 'edit_toners_form' toner.id %}" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="fas fa-edit"></i></a>
                  <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal{{ toner.pk }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a></td>

          </tr>
          <!-- delete confirmation Modal -->
          <div class="modal fade" id="delete-modal{{ toner.pk }}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label"
               aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="delete-modal-label">Delete Toner</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          </button>
                      </div>
                      <div class="modal-body">
                          <div class="text-center text-danger">
                              <span>Do you want to delete toner ?</span>
                              <div class="text-dark mt-3 mb-2">Toner: <strong>{{toner.toner_model}}</strong></div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <a href="{% url 'view_toners' %}" class="btn btn-secondary">Cancel</a>
                          <a href="{% url 'edit_toners_delete' toner.id %}" class="btn btn-danger" type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- delete confirmation Modal -->
          {% endfor %}
          </tbody>
      </table>
    </div>
<span class="text-danger" id="no-data"></span>
<script>

</script>
</div>
<!--- Messages after CRUD operations --->
{% if messages %}
    {% for message in messages %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
    {% endfor %}
{% endif %}
<!--- Messages after CRUD operations --->

<!--- Paginator --->
<!--<script>
$(document).ready(function () {
    $("#myTable").DataTable({
        paging: true,
        pageLength: 10,
        lengthChange: false,
        bInfo: false,
        bSort: false,
        order:[]
    });
});
</script>
&lt;!&ndash;- Paginator -&ndash;&gt;
<script>
$(document).ready(function () {
var table = $('#myTable').DataTable();

// #myInput is a <input type="text"> element
$('#search').on( 'keyup', function () {
    table.search( this.value ).draw();
} );
});
</script>-->

{% endblock %}