{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container" xmlns="">
  <h2>Contract Details</h2>

  <div class="input-group input-group-sm mb-2" id="table-search">
        <input class="form-control" id="search" type="text" placeholder="Search.." >
        <a href="{% url 'view_contract_details' %}" class="btn btn-dark btn-lg" title="Reset View">
            <i class="fas fa-sync-alt"></i></a>
  </div>
  <div class="table-responsive">
      {% csrf_token %}
      <table class="table table-bordered auto-width-table" id="myTable">
          <thead class="table-secondary">
          <tr>
              <th>LPO Number</th>
              <th>Purchase Date</th>
              <th>Warranty in years</th>
              <th>Warranty Start</th>
              <th>Warranty End</th>
              <th>Purchased By</th>
              <th>Action</th>
          </tr>
          </thead>
          <tbody>
          {% for detail in contracts %}
          <tr id="{{detail.id}}" data-id="{{ detail.id }}">
              <td>{{detail.lpo_no}}</td>
              <td>{{detail.purchased_date.date}}</td>
              <td>{{detail.warranty_years}}</td>
              <td>{{detail.warranty_start.date}}</td>
              <td>{{detail.warranty_end.date}}</td>
              <td>{{detail.purchased_by}}</td>
             <td>
                  <div class="button-container">
                      <a href="{% url 'edit_contract_details' detail.id %}" class="btn btn-warning " data-bs-toggle="tooltip"
                         data-bs-placement="bottom" title="Edit"><i class="fas fa-edit"></i></a>
                      {% if detail.pdf_file %}
                            <a href="{{ detail.pdf_file.url }}" target="_blank" class="btn btn-info" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="View PDF"><i class="far fa-file-pdf"></i></a>
                      {% else %}
                            <button class="btn btn-info" onclick="showNoPdfAlert()" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="View PDF"><i class="far fa-file-pdf"></i></button>
                      {% endif %}
                      <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal{{ detail.pk }}"
                         data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i>
                      </a>
                  </div>
              </td>
          </tr>
          <!-- delete confirmation Modal -->
            <div class="modal fade" id="delete-modal{{ detail.pk }}" tabindex="-1" role="dialog"
                 aria-labelledby="delete-modal-label{{ detail.pk }}" data-bs-backdrop="static" data-bs-keyboard="false"
                 aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete-modal-label">Delete Contract</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center text-danger">
                                <span>Do you want to delete the contract details ?</span>
                                <div class="text-dark mt-3 mb-2">Contract: <strong>{{detail.lpo_no}} </strong></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'view_contract_details' %}" class="btn btn-secondary">Cancel</a>
                            <a href="{% url 'contract_delete' detail.id %}" class="btn btn-danger" type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- delete confirmation Modal -->
          {% endfor %}
          </tbody>
      </table>
  </div>



<!--- Messages after CRUD operations --->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'alert-success' %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
        {% elif message.tags == 'alert-danger' %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Error!",
                       text: m,
                       icon: "error",
                      });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
<!--- Messages after CRUD operations --->
</div>
<script>
  // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the breadcrumb text content to "Toners / View Toners"
  currentPageElement.textContent = "Contracts / View Contracts";

  // Get the <h6> element representing "TEMPLATE"
  var templateElement = document.querySelector('h6.font-weight-bolder.mb-0');

  // Update the text content of the <h6> element to "Edit Toner Details"
  templateElement.textContent = "View Contracts";
</script>
{% endblock %}