<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sent Receive</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<div class="container-fluid p-3 my-3 bg-dark text-white">
    <h1><a href="{% url 'mainpage' %}" class="text-light">Sent Receive</a></h1>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary">Prosecutions</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'view_prosecutions' %}">View Prosecutions</a>
            <a class="dropdown-item" href="{% url 'add_prosecutions' %}">Add Prosecutions</a>
            <a class="dropdown-item" href="{% url 'edit_prosecutions' %}">Edit Prosecutions</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary">Items</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'view_items' %}">View Items</a></li>
                    <li class="dropdown-submenu dropright"><a class="dropdown-item dropdown-toggle" href="#">Add</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'add_items' %}">Add Items</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_items_details' %}">Add Items Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu dropright"><a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'edit_items' %}">Edit Items</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_item_details' %}">Edit Item Details</a></li>
                        </ul>
                    </li>
                </ul>
     </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary">Forms</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'sent_items_invoice' %}">Sent Items Invoice</a>
            <a class="dropdown-item" href="{% url 'test' %}">Test</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary">Toners</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'view_toners' %}">View Toners</a></li>
                        <li class="dropdown-submenu dropright"><a class="dropdown-item dropdown-toggle" href="#">Add</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'add_toners' %}">Add Toners</a></li>
                                <li><a class="dropdown-item" href="{% url 'add_tonerdetails' %}">Add Toner Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu dropright"><a class="dropdown-item dropdown-toggle" href="#">Edit</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'edit_toners' %}">Edit Toners</a></li>
                                <li><a class="dropdown-item" href="{% url 'edit_tonerdetails' %}">Edit Toner Details</a></li>
                            </ul>
                        </li>
                  </ul>

    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary">Excel Data</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'excel_import_db' %}">Import</a>
        </div>
    </div>

</div>
<div>
{% block content %}
{% endblock %}
</div>
<script >
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
  }
  var $subMenu = $(this).next(".dropdown-menu");
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass("show");
  });


  return false;
});


</script>

</html>
