{% extends 'mainpage.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card card-body border-dark mt-3">
            <span class="text-center"><h2>Add Items Details</h2></span>
            <p class="text-center">Enter the item details below:</p>
        </div>
    </div>
    <form role="form" action="add_items_details_save" method="post" enctype="multipart/form-data" class="card p-3 border-dark mt-3">
        {% csrf_token %}
        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Model Number</span>
            </div>
            <select class="form-control selectpicker show-tick"  name="model_no" placeholder="" data-live-search="true"  data-dropup-auto="false">
                {% for item in items %}
                <option value="{{item.id}}">{{item.model_no}} </option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Serial Number</span>
            </div>
            <input class="form-control" name="serial_no" placeholder="Enter serial-number" type="text">
            <input type="checkbox" id="na_checkbox" name="na_checkbox" style="margin-left:10px; transform: scale(2);">
            <label for="na_checkbox" class="form-check-label" style="margin-left:8px; font-size: 20px;">NA</label>
        </div>

        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Tag Number</span>
            </div>
            <input class="form-control" name="tag_no" placeholder="Enter tag-number" type="text">
        </div>

        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Room Tag</span>
            </div>
            <input class="form-control" name="room_tag" placeholder="Enter room-tag" type="text">
        </div>

        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Issued To</span>
            </div>
            <select class="form-control selectpicker show-tick"  name="issued_to" placeholder="" data-live-search="true"  data-dropup-auto="false">
                {% for prosecution in prosecutions %}
                <option value="{{prosecution.id}}">{{prosecution.name}} </option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Employee Name</span>
            </div>
            <input class="form-control" name="employee_name" placeholder="Enter employee name" type="text">
        </div>

        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Employee Designation</span>
            </div>
            <input class="form-control" name="employee_designation" placeholder="Enter employee designation" type="text">
        </div>

        <div class="input-group" >
            <div class="input-group-prepend" >
                <!-- Your existing form fields -->
                <span class="bordered-label side-label">Upload pdf </span>
            </div>
                <input type="file" name="pdf_file" id="pdf_file">
        </div>

        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Status</span>
            </div>
            <select class="form-control" name="status">
                {% for x,y in status %}
                <option value="{{x}}">{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save Details</button>
        <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Import From Excel Sheet
        </button>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Import from Excel Sheet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please make sure that the excel sheet is in
                <li>.csv format</li>
                <li>save as type is CSV UTF-8</li>
                and has the below column titles for a successful import<br/>
                <li>serial_no</li>
                <li>tag_no</li>
                <li>room_tag</li>
                <li>status</li>
                <li>model_no</li>
                <li>issued_to</li>
                <li>employee_name</li>
                <li>employee_designation</li>
            </div>
            <div class="modal-footer">
                <form role="form" action="excel_import_item_details_db" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="myfile" required type="file">
                    <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
<!-- Modal -->

<!--- Messages after CRUD operations --->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'alert-success' %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
        {% elif message.tags == 'alert-danger' %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Error!",
                       text: m,
                       icon: "error",
                      });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
<!--- Messages after CRUD operations --->
</div>
<script>
  // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the breadcrumb text content to "Items / Add Item Details"
  currentPageElement.textContent = "Items / Add Item Details";

  // Get the <h6> element representing "TEMPLATE"
  var templateElement = document.querySelector('h6.font-weight-bolder.mb-0');

  // Update the text content of the <h6> element to "Add Item Details"
  templateElement.textContent = "Add Item Details";
</script>
{% endblock %}