{% extends 'mainpage.html' %}

{% block content %}
<div class="container">
  <h2>Add Items</h2>
  <p>Enter the item details below:</p>
  <form role="form" action="add_items_save" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <label>Model Number</label>
        <input class="form-control" name="model_no" placeholder="Enter model-number" type="text">
      </div>
      <div class="col">
        <label>Item Description</label>
        <input class="form-control" name="description" placeholder="Enter description" type="text">
      </div>
      <div class="col">
        <label>Total Quantity</label>
        <input class="form-control" name="total_qty" placeholder="Enter total quantity" type="text">
      </div>
    </div>
<button type="submit" class="btn btn-primary mt-3">Add Item</button>
</form>
</div>
{% endblock %}
