{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container">
  <h2>Item Details</h2>
   <input type="hidden" name="itemdetails_id" value="{{itemdetails.id}}">
<table class="table table-bordered">
    <thead>
      <tr>
          <th>Model Number</th>
          <th>Serial Number</th>
          <th>Issued to</th>
          <th>Employee Name</th>
          <th>Action</th>

      </tr>
    </thead>
    <tbody>
    {% for detail in itemdetails %}
      <tr>
        <td>{{detail.model_no.model_no}}</td>
        <td>{{detail.serial_no}}</td>
	    <td>{{detail.issued_to.name}}</td>
        <td>{{detail.employee_name}}</td>
        <td><a href="{% url 'edit_item_details_form' detail.id %}" class ="btn btn-info">Edit</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}