{% extends 'mainpage.html' %}

{% block content %}
<div class="container">
    <h2>Edit Items | Items ID :{{ items.id }}</h2>
    <p>Edit the item below:</p>
    <form role="form" action="edit_items_save" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>Model Number</label>
                <input type="text" class="form-control" placeholder="Enter model number" name="model_no" id="model_no"
                       value="{{items.model_no}}">
                <input type="hidden" name="items_id" value="{{items.id}}">
            </div>
            <div class="col">
                <label>Item Description</label>
                <input type="text" class="form-control" placeholder="Enter description" name="description" id="description"
                       value="{{items.description}}">
            </div>

        </div>
        <button type="submit" class="btn btn-success mt-3 btn-action-EIF" disabled data-bs-toggle="tooltip" data-bs-placement="bottom" title="Save"><i class="fas fa-save"></i></button>
        <a href="{% url 'view_items' %}" class="btn btn-primary mt-3" id="btn-back" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back"><i class="fas fa-angle-double-left"></i></a>
        <!-- Button trigger modal -->
        <button id="modal-confirm" type="button" style="display:none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#save-modal">
        </button>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="save-modal-label">Save Changes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to save changes ?
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'view_items' %}" class="btn btn-secondary" >No</a>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </form>
</div>
<!--- Hidden data --->
<div class="text-center mt-5" style="display :none;" >
    <input id="model_no2" value="{{ items.model_no}}">
    <input id="description2"  value="{{items.description}}">
</div>
<!--- Hidden data --->
{% endblock %}