{% extends 'mainpage.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="card card-body border-dark mt-3">
            <span class="text-center"><h2>Edit Item Details | Item Details ID :{{ itemdetails.id }} </h2></span>
        </div>
    </div>
    <form role="form" action="edit_item_details_save" method="post" class="card p-3 border-dark mt-3">
        {% csrf_token %}
        <div class="input-group input-group-sm mb-3" >
            <label class="input-group-text side-label">Model Number</label>
            <select class="form-control selectpicker show-tick" name="model_no" id="model_no" data-live-search="true"  data-dropup-auto="false">
                        {% for item in items %}
                        <option value="{{item.id}}" {% if item.id == itemdetails.model_no.id %} selected {% endif %}>
                            {{item.model_no}}</option>
                        {% endfor %}
            </select>
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text side-label">Serial Number</span>
            <input type="text" class="form-control " placeholder="Enter serialnumber" name="serial_no" id="serial_no"
                   value="{{itemdetails.serial_no}}">
            <input type="hidden" name="itemdetails_id" value="{{itemdetails.id}}">
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text side-label">Tag Number</span>
            <input type="text" class="form-control " placeholder="enter tag number" name="tag_no" id="tag_no"
                   value="{{itemdetails.tag_no}}">
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text side-label">Room Tag</span>
            <input type="text" class="form-control " placeholder="enter room tag number" name="room_tag" id="room_tag"
                   value="{{itemdetails.room_tag}}">
        </div>

        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text side-label">Issued to</label>
            <select class="form-control selectpicker show-tick " name="issued_to" id="issued_to" data-live-search="true"  data-dropup-auto="false">
                {% for prosecution in prosecutions %}
                <option value="{{prosecution.id}}" {% if prosecution.id == itemdetails.issued_to.id %} selected {% endif %}>
                    {{prosecution.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text side-label">Employee Name</span>
            <input type="text" class="form-control " placeholder="enter employee name" name="employee_name" id="employee_name"
                   value="{{itemdetails.employee_name}}">
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text side-label">Employee Designation</span>
            <input type="text" class="form-control " placeholder="enter employee designation" name="employee_designation" id="employee_designation"
                   value="{{itemdetails.employee_designation}}">
        </div>

        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text side-label">Date Dispatched </label>
            <input type="text" class="form-control" name="date_dispatched" id="date_dispatched"
                   value="{{itemdetails.date_dispatched.date|date:'Y-m-d'}}">
        </div>


        <div class="input-group input-group-sm mb-3">
            <label class="input-group-text side-label">Status</label>
            <select class="form-control " name="status" id="status">
                {% for x,y in status %}
                <option value="{{x}}" {% if x == itemdetails.status %} selected {% endif %}>{{ x }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success mt-3 btn-action-EIDF" disabled data-bs-toggle="tooltip" data-bs-placement="bottom" title="Save"><i class="fas fa-save"></i></button>
        <a href="{% url 'view_items' %}" class="btn btn-primary mt-3" id="btn-back" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back"><i class="fas fa-angle-double-left"></i></a>

        <!-- Button trigger modal -->
        <button id="modal-confirm" type="button" style="display:none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#save-modal">
        </button>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="save-modal-label" >Save Changes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to save changes ?
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'view_items' %}" class="btn btn-secondary" >No</a>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </form>

<!-- Date picker -->
<script>
    $(function(){
        $("#date_dispatched").datepicker({
      format: 'YYYY-MM-DD',
        });
     });
</script>
<!-- Date picker -->
<script>
$(document).ready(function(){
    $(".model_no").chosen({width: "84%"});

})
</script>
</div>

<!--- Hidden data --->
<div class="text-center mt-5" style="display: none;">
<!--    <input id="model_no2" value="{{itemdetails.model_no.id}}">-->

    <input id="model_no2" value="{{itemdetails.model_no.id}}">
    <input id="serial_no2" value="{{itemdetails.serial_no}}">
    <input id="tag_no2" value="{{itemdetails.tag_no}}">
    <input id="room_tag2" value="{{itemdetails.room_tag}}">
    <input id="issued_to2" value="{{itemdetails.issued_to.id}}">
    <input id="employee_name2" value="{{itemdetails.employee_name}}">
    <input id="employee_designation2" value="{{itemdetails.employee_designation}}">
    <input id="date_dispatched2" value="{{itemdetails.date_dispatched.date|date:'Y-m-d'}}">
    <input id="status2" value="{{itemdetails.status}}">
</div>
<!--- Hidden data --->
{% endblock %}