{% extends 'mainpage.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="card card-body border-dark mt-3">
            <span class="text-center"><h2>Edit Item Details | Item Details ID :{{ detail.id }} </h2></span>
        </div>
    </div>
    <form role="form" action="edit_item_details_save" method="post" enctype="multipart/form-data" class="card p-3 border-dark mt-3">
        {% csrf_token %}
        <input type="hidden" name="detail_id" value="{{detail.id}}">
        <div class="input-group" >
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Model Number</span>
            </div>
            <select class="form-control selectpicker show-tick" name="model_no" id="model_no" data-live-search="true"  data-dropup-auto="false">
                        {% for item in items %}
                        <option value="{{item.id}}" {% if item.id == detail.model_no.id %} selected {% endif %}>
                            {{item.model_no}}</option>
                        {% endfor %}
            </select>
        </div>

        <div class="input-group">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Serial Number</span>
            </div>
                <input type="text" class="form-control " placeholder="Enter serialnumber" name="serial_no" id="serial_no"
                       value="{{detail.serial_no}}">

        </div>

        <div class="input-group">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Tag Number</span>
            </div>
                <input type="text" class=" form-control " placeholder="enter tag number" name="tag_no" id="tag_no"
                       value="{{detail.tag_no}}">
        </div>


        <div class="input-group">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Room Tag</span>
            </div>
            <input type="text" class="form-control " placeholder="enter room tag number" name="room_tag" id="room_tag"
                   value="{{detail.room_tag}}">

        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Issued to</span>
            </div>
                <select class="form-control selectpicker show-tick" name="issued_to" id="issued_to" data-live-search="true"  data-dropup-auto="false">
                    {% for prosecution in prosecutions %}
                    <option value="{{prosecution.id}}" {% if prosecution.id == detail.issued_to.id %} selected {% endif %}>
                        {{prosecution.name}}</option>
                    {% endfor %}
                </select>

        </div>



        <div class="input-group">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Employee Name</span>
            </div>
                <input type="text" class="form-control " placeholder="enter employee name" name="employee_name" id="employee_name"
                       value="{{detail.employee_name}}">

        </div>

        <div class="input-group">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Employee Designation</span>
            </div>
                <input type="text" class="form-control " placeholder="enter employee designation" name="employee_designation" id="employee_designation"
                       value="{{detail.employee_designation}}">

        </div>

        <div class="input-group">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">Date Dispatched </span>
            </div>
                <input type="text" class="form-control" name="date_dispatched" id="date_dispatched"
                       value="{{detail.date_dispatched.date|date:'Y-m-d'}}">

        </div>


        <div class="input-group">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label ">Status</span>
            </div>
                <select class=" form-control " name="status" id="status">
                    {% for x,y in status %}
                    <option value="{{x}}" {% if x == detail.status %} selected {% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>

        </div>

         <div class="input-group input-group-sm">
            <div class="input-group-prepend" >
                <span class="bordered-label side-label">LPO No</span>
            </div>
                <select class="form-control selectpicker show-tick" name="lpo_no" id="lpo_no" data-live-search="true"  data-dropup-auto="false">
                    {% for contract in contracts %}
                    <option value="{{contract.id}}" {% if contract.id == detail.lpo_no.id %} selected {% endif %}>
                        {{contract.lpo_no}}</option>
                    {% endfor %}
                </select>

        </div>

        {% if detail.pdf_file %}
            <!-- Existing PDF contract -->
            <div class="input-group" >
                <div class="input-group-prepend" >
                    <span class="bordered-label side-label">Existing PDF </span>
                </div>
                <span class="form-control" style="margin-top:10px;">{{ detail.pdf_file }}</span>
                <a href="{{ detail.pdf_file.url }}" target="_blank" class="btn btn-info" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="View PDF"><i class="far fa-file-pdf"></i></a>
            </div>
        {% endif %}

        <div class="input-group" >
                <div class="input-group-prepend" >
                    <!-- Your existing form fields -->
                    <span class="bordered-label side-label">New PDF </span>
                </div>
                <input type="file" name="pdf_file" id="pdf_file">
        </div>

        <button type="submit" name="save" value="save" class="btn btn-success mt-3 btn-action-EIDF" disabled data-bs-toggle="tooltip" data-bs-placement="bottom" title="Save"><i class="fas fa-save"></i></button>
        <a href="{% url 'view_items_details' id=detail.model_no.id %}" class="btn btn-primary mt-3" id="btn-back" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back"><i class="fas fa-angle-double-left"></i></a>
        <button onclick="getCartData('{{detail.id}}','add')" data-detail="{{detail.id}}" data-action="add" class="btn btn-secondary mt-3 addtodispatch" enabled data-bs-toggle="tooltip" data-bs-placement="bottom" title="Save and Add To Dispatch"><i class="fas fa-box"></i></button>

        <!-- Button trigger modal -->
        <button id="modal-confirm" type="button" style="display:none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#save-modal">
        </button>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="save-modal-label" >Save Changes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to save changes ?
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'view_items_details' id=detail.model_no.id %}" class="btn btn-secondary" >No</a>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </form>


<!---------------------------- Messages after CRUD operations ------------------------------->
{% if messages %}
    {% for message in messages %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
    {% endfor %}
{% endif %}
<!---------------------------- Messages after CRUD operations ------------------------------->


</div>
<script>
  // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the breadcrumb text content to "Items / Edit Item Details"
  currentPageElement.textContent = "Items / Edit Item Details";

  // Get the <h6> element representing "TEMPLATE"
  var templateElement = document.querySelector('h6.font-weight-bolder.mb-0');

  // Update the text content of the <h6> element to "Edit Item Details"
  templateElement.textContent = "Edit Item Details";
</script>
<!--- Hidden data --->
<div class="text-center mt-5" style="display: none;">
<!--    <input id="model_no2" value="{{itemdetails.model_no.id}}">-->

    <input id="model_no2" value="{{detail.model_no.id}}">
    <input id="serial_no2" value="{{detail.serial_no}}">
    <input id="tag_no2" value="{{detail.tag_no}}">
    <input id="room_tag2" value="{{detail.room_tag}}">
    <input id="issued_to2" value="{{detail.issued_to.id}}">
    <input id="employee_name2" value="{{detail.employee_name}}">
    <input id="employee_designation2" value="{{detail.employee_designation}}">
    <input id="date_dispatched2" value="{{detail.date_dispatched.date|date:'Y-m-d'}}">
    <input id="status2" value="{{detail.status}}">
    <input id="lpo_no2" value="{{detail.lpo_no.id}}">
    <input id="pdf_file2" value="{{detail.pdf_file}}">
</div>
<!--- Hidden data --->
{% endblock %}