{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container">
  <h2>Item Details</h2>
   <input type="hidden" name="itemdetails_id" value="{{itemdetails.id}}">
   <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <div class="table-responsive">
      <table class="table table-bordered">
          <thead>
          <tr>
              <th>Model Number</th>
              <th>Serial Number</th>
              <th>Tag Number</th>
              <th>Issued to</th>
              <th>Employee Name</th>
              <th>Employee Designation</th>
              <th>Action</th>

          </tr>
          </thead>
          <tbody id="myTable">
          {% for detail in itemdetails %}
          <tr>
              <td>{{detail.model_no.model_no}}</td>
              <td>{{detail.serial_no}}</td>
              <td>{{detail.tag_no}}</td>
              <td>{{detail.issued_to.name}}</td>
              <td>{{detail.employee_name}}</td>
              <td>{{detail.employee_designation}}</td>
              <td><a href="{% url 'edit_item_details_form' detail.id %}" class="btn btn-info">Edit</a></td>
          </tr>
          {% endfor %}
          </tbody>
      </table>

    </div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
</div>

{% endblock %}