{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Available Items</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Item Description</th>
                <th>Model Number</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for item in items %}
            <tr>
                <td>{{item.description}}</td>
                <td>{{item.model_no}}</td>
                <td>{{item.total_qty}}</td>
                <td><a href="{% url 'view_items_details' item.id %}" class="btn btn-info ">Details</a>
                    <a href="{% url 'edit_items_form' item.id %}" class="btn btn-warning ">Edit</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#delete-modal{{ item.pk }}">Delete</a></td>
            </tr>
            <!-- delete confirmation Modal -->
            <div class="modal fade" id="delete-modal{{ item.pk }}" tabindex="-1" role="dialog"
                 aria-labelledby="delete-modal-label"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete-modal-label">Delete Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center text-danger">
                                <span>Do you want to delete item ?</span>
                                <div class="text-dark mt-3 mb-2">Item: <strong>{{item.description}} {{item.model_no}} </strong></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'view_items' %}" class="btn btn-secondary">Cancel</a>
                            <a href="{% url 'edit_items_delete' item.id %}" class="btn btn-danger" type="submit">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- delete confirmation Modal -->
            {% endfor %}
            </tbody>
        </table>

    </div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
</div>
<!--- Messages after CRUD operations --->
{% if messages %}
    {% for message in messages %}
        <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
         </script>
    {% endfor %}
{% endif %}
<!--- Messages after CRUD operations --->

{% endblock %}