{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container" xmlns="">
  <h2>Item Details</h2>

  <div class="input-group input-group-sm mb-2">
        <input class="form-control" id="search" type="text" placeholder="Search.." >
        <a href="{% url 'view_items_details' item_id %}" id="item_id" data-value="{{item_id}}" title="Reset View"
           class="btn btn-dark btn-sm"><i class="fas fa-sync-alt"></i></a>
  </div>
  <div class="table-responsive">
      {% csrf_token %}
      <table class="table table-bordered auto-width-table" id="myTable">
          <thead>
          <tr>
              <th>Model Number</th>
              <th>Serial Number</th>
              <th>Tag Number</th>
              <th>Room Tag </th>
              <th>Issued to</th>
              <th>Employee Name</th>
              <th>Employee Designation</th>
              <th>Date Dispatched</th>
              <th>Status</th>
              <th>Actions</th>
              <th></th>
          </tr>
          </thead>
          <tbody>
          {% for detail in itemdetails %}
          <tr id="{{detail.id}}" data-id="{{ detail.id }}">
              <td>{{detail.model_no.model_no}}</td>
              <td>{{detail.serial_no}}</td>
              <td>{{detail.tag_no}}</td>
              <td>{{detail.room_tag}}</td>
              <td class="right-to-left-text">{{detail.issued_to.name}}</td>
              <td class="right-to-left-text">{{detail.employee_name}}</td>
              <td >{{detail.employee_designation}}</td>
              <td>{{detail.date_dispatched.date}}</td>
              <td>{{detail.status}}</td>
              <td>
                  <div class="button-container">
                      <a href="{% url 'print_issue_vouchers' detail.id %}" target="_blank" rel="noopener noreferrer"
                         class="btn btn-info " data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="Print Issue Voucher"><i class="fas fa-print"></i></a>
                      <a href="{% url 'print_item_sent_invoice' detail.id %}" target="_blank" rel="noopener noreferrer"
                         class="btn btn-info " data-bs-toggle="tooltip" data-bs-placement="bottom"
                         title="Print Invoice"><i class="fas fa-receipt"></i></a>
                      <button onclick="getCartData('{{detail.id}}','add')" data-detail="{{detail.id}}" data-action="add"
                              class="btn btn-secondary addtodispatch" data-bs-toggle="tooltip"
                              data-bs-placement="bottom" title="Add To Dispatch"><i class="fas fa-box"></i></button>
                      <a href="{% url 'edit_item_details_form' detail.id %}" class="btn btn-warning"
                         data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i
                              class="fas fa-edit"></i></a>
                      <a class="btn btn-danger" data-bs-toggle="modal"
                         data-bs-target="#delete-modal{{ detail.pk }}" data-bs-toggle="tooltip"
                         data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a>
                  </div>
              </td>
              <td><input type="checkbox" name="detail_id[]" value="{{detail.id}}" id="bulk_delete_detail"></td>
          </tr>
          <!-- delete confirmation Modal -->
          <div class="modal fade" id="delete-modal{{ detail.pk }}" tabindex="-1" role="dialog"
               aria-labelledby="delete-modal-label" data-bs-backdrop="static" data-bs-keyboard="false"
               aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="delete-modal-label">Delete Item Details</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          </button>
                      </div>
                      <div class="modal-body">
                          <div class="text-center text-danger">
                              <span>Do you want to delete item details ?</span>
                              <div class="text-dark mt-3 mb-2">Item: <strong>{{detail.model_no.model_no}}
                                  {{detail.serial_no}} </strong></div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <a href="{% url 'view_items' %}" class="btn btn-secondary">Cancel</a>
                          <a href="{% url 'edit_item_details_delete' detail.id %}" class="btn btn-danger"
                             type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- delete confirmation Modal -->
          {% endfor %}
          </tbody>
      </table>
      <a href="{% url 'itemdetails_export_topdf' item_id %}"  rel="noopener noreferrer"  class="btn btn-secondary" id="btn-exporttopdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="export to pdf"><i class="fas fa-file-pdf"></i></a>
      <a href="{% url 'itemdetails_export_toexcel' item_id %}" target="_blank" rel="noopener noreferrer" class="btn btn-secondary" id="btn-exporttocsv" data-bs-toggle="tooltip" data-bs-placement="bottom" title="export to csv"><i class="fas fa-file-excel"></i></a>
      <a href="{% url 'view_items' %}" class="btn btn-primary" id="btn-back-to-viewitems" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back-to-viewitems"><i class="fas fa-angle-double-left"></i></a>
      <button type="submit" class="btn btn-danger bulk_delete" style="display: none;" id="btn-bulkdelete">Bulk Delete</button>
      <button type="submit" class="btn btn-secondary" style="display: none;" id="btn-bulkdispatch">Bulk Dispatch</button>
  </div>


<!--- Messages after CRUD operations --->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'alert-success' %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
        {% elif message.tags == 'alert-danger' %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Error!",
                       text: m,
                       icon: "error",
                      });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
<!--- Messages after CRUD operations --->


</div>

<div class="text-center mt-5" style="display: none;" >
    <input  id="content_type_id" data-value="{{content_type_id}}">
    <input  id="joined_ids" data-value="{{joined_ids}}">
</div>
{% endblock %}