{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container">
  <h2>Item Details</h2>

  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <div class="table-responsive">
      <table class="table table-bordered">
          <thead>
          <tr>
              <th>Model Number</th>
              <th>Serial Number</th>
              <th>Tag Number</th>
              <th>Issued to</th>
              <th>Employee Name</th>
              <th>Employee Designation</th>
              <th>Status</th>
              <th>Action</th>

          </tr>
          </thead>
          <tbody id="myTable">
          {% for detail in itemdetails %}
          <tr>
              <td>{{detail.model_no.model_no}}</td>
              <td>{{detail.serial_no}}</td>
              <td>{{detail.tag_no}}</td>
              <td>{{detail.issued_to.name}}</td>
              <td>{{detail.employee_name}}</td>
              <td>{{detail.employee_designation}}</td>
              <td>{{detail.status}}</td>
              <td><a href="{% url 'print_issue_vouchers' detail.id %}" target="_blank" rel="noopener noreferrer" class="btn btn-info">Print Issue Voucher</a>
              <a href="{% url 'edit_item_details_form' detail.id %}" class="btn btn-warning ">Edit</a>
              <a class="btn btn-danger" data-toggle="modal" data-target="#delete-modal{{ detail.pk }}">Delete</a></td>
          </tr>
          <!-- delete confirmation Modal -->
          <div class="modal fade" id="delete-modal{{ detail.pk }}" tabindex="-1" role="dialog"
               aria-labelledby="delete-modal-label"
               aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="delete-modal-label">Delete Item Details</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <div class="text-center text-danger">
                              <span>Do you want to delete item details ?</span>
                              <div class="text-dark mt-3 mb-2">Item: <strong>{{detail.model_no.model_no}}
                                  {{detail.serial_no}} </strong></div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <a href="{% url 'view_items' %}" class="btn btn-secondary">Cancel</a>
                          <a href="{% url 'edit_item_details_delete' detail.id %}" class="btn btn-danger"
                             type="submit">Delete</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- delete confirmation Modal -->
          {% endfor %}
          </tbody>
      </table>

    </div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
</div>

{% endblock %}