{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container">
  <h2>Available Items</h2>
<table class="table table-bordered">
    <thead>
      <tr>
          <th>Item Description</th>
          <th>Model Number</th>
          <th>Quantity</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        <td>{{item.description}}</td>
        <td>{{item.model_no}}</td>
	    <td>{{item.total_qty}}</td>
        <td><a href="{% url 'view_items_details' %}" class ="btn btn-info">Details</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}