{% extends 'mainpage.html' %}

{% block content %}

<div class="container">
  <div class="row">
        <div class="card card-body border-dark mt-3">
          <span class="text-center"><h2><h2>Add Prosecutions</h2></h2></span>
        </div>
  </div>
  <form  role="form" action="add_prosecutions_save" method="post" class="card p-3 border-dark mt-3">
    {% csrf_token %}
    <div class="input-group" >
      <div class="input-group-prepend" >
        <span class="bordered-label side-label">Prosecution Name</span>
      </div>
        <input type="text" class="form-control"  placeholder="Enter prosecution" name="name">
    </div>

    <div class="input-group" >
      <div class="input-group-prepend" >
        <span class="bordered-label side-label">Prosecution Location</span>
      </div>
        <input type="text" class="form-control" placeholder="Enter location" name="location">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add Prosecution</button>
  </form>
</div>
<script>
  // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the breadcrumb text content to "Prosecutions / Add Prosecutions"
  currentPageElement.textContent = "Prosecutions / Add Prosecutions";
</script>
{% endblock %}



