<html xmlns="http://www.w3.org/1999/xhtml" lang='ar' xml:lang="ar" dir="rtl">
<div>
    <pdf:language name="arabic"/>
</div>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <style>

        @font-face {
        font-family: "Times New Roman";
        src: url('C:\Windows\Fonts\timesbd.ttf');
    }
    @page {
        size:a4 landscape;
        margin: 350px 50px 75px 100px;
    }
    body {
    font-size: 70px;
    font-family: "Times New Roman";
    text-align: center;
    }
     </style>
</head>
<body>
{% for prosecution in prosecutions %}
<h2>{{prosecution.name}}</h2>
{% endfor %}
</body>

</html>