{% extends 'mainpage.html' %}

{% block content %}


<div class="container">
  <h2>Prosecutions</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Prosecution Name</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for prosecution in prosecutions %}
      <tr>
        <td>{{prosecution.name}}</td>
        <td>{{prosecution.location}}</td>
        <td><a href="{% url 'print_pdf' prosecution.name %}" target="_blank" class ="btn btn-success">Print</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}



