{% extends 'mainpage.html' %}

{% block content %}


<div class="container">
  <h2>Prosecutions</h2>
  <div class="input-group input-group-sm mb-2" id="table-search">
        <input class="form-control" id="search" type="text" placeholder="Search.." >
        <a href="{% url 'view_prosecutions' %}" class="btn btn-dark btn-lg"><i class="fas fa-sync-alt"></i></a>
  </div>
  <div class="table-responsive p-0" >
    <table class="table table-bordered" id="myTable">
      <thead class="table-secondary">
      <tr>
        <th>Prosecution Name</th>
        <th>Location</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {% for prosecution in prosecutions %}
      <tr>
        <td>{{prosecution.name}}</td>
        <td>{{prosecution.location}}</td>
        <td><a href="{% url 'print_pdf' prosecution.id %}" target="_blank" rel="noopener noreferrer" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Print"><i class="fas fa-print"></i></a>
          <a href="{% url 'edit_prosecutions_form' prosecution.id %}" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="fas fa-edit"></i></a>
          <a class="btn btn-danger"data-bs-toggle="modal" data-bs-target="#delete-modal{{ prosecution.pk }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a></td>
      </tr>
      <!-- delete confirmation Modal -->
            <div class="modal fade" id="delete-modal{{ prosecution.pk }}" tabindex="-1" role="dialog"
                 aria-labelledby="delete-modal-label" data-bs-backdrop="static" data-bs-keyboard="false"
                 aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete-modal-label">Delete Prosecution</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center text-danger">
                                <span>Do you want to delete Prosecution ?</span>
                                <div class="text-dark mt-3 mb-2">Prosecution: <strong>{{prosecution.name}} - {{prosecution.location}} </strong></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'view_prosecutions' %}" class="btn btn-secondary">Cancel</a>
                            <a href="{% url 'edit_prosecutions_delete' prosecution.id %}" class="btn btn-danger" type="submit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- delete confirmation Modal -->
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>
<!--- Messages after CRUD operations --->
{% if messages %}
    {% for message in messages %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
    {% endfor %}
{% endif %}
<!--- Messages after CRUD operations --->
<script>
  // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the breadcrumb text content to "Prosecutions / View Prosecutions"
  currentPageElement.textContent = "Prosecutions / View Prosecutions";

  // Get the <h6> element representing "TEMPLATE"
  var templateElement = document.querySelector('h6.font-weight-bolder.mb-0');

  // Update the text content of the <h6> element to "View Prosecutions"
  templateElement.textContent = "View Prosecutions";
</script>
<!--<script>
     // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the text content of the breadcrumb item to the current page name
  currentPageElement.textContent = "View Prosecutions"; // Replace "View Prosecutions" with the actual current page name

  // Optionally, you can also set the aria-current attribute to "page"
  currentPageElement.setAttribute('aria-current', 'page');
</script>-->

{% endblock %}



