{% extends 'mainpage.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Sent Items</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w1">No</th>
                <th class="w2">Send Date</th>
                <th class="w3">Send To</th>
                <th class="w4">Product Description</th>
                <th class="w5">Model No.</th>
                <th class="w6">Serial No.</th>
                <th class="w7">Received By</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for item in items %}
            <tr>
                 <td class="w1">{{forloop.counter}}</td>
                <td class="w2">{{item.date_added.date}}</td>
                <td class="w4">{{item.product.issued_to.name}}</td>
                <td class="w5">{{item.product.toner_model.toner_printer.description}} toner</td>
                <td class="w6">{{item.product.toner_model.toner_printer.model_no}}</td>
                <td class="w7">{{item.product.toner_model.toner_model}}</td>
                <td class="w8">{{item.product.employee_name}}</td>
            <tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
</div>
{% endblock %}