{% extends 'mainpage.html' %}


{% block content %}

<div class="container">
    <div style="clear: both">
        <h2 style="float: left">Dispatch Items</h2>
        <h4 style="float: right">No.of Items: {{total}}</h4>
    </div>
    <div class="input-group input-group-sm mb-2" id="table-search">
        <input class="form-control" id="search" type="text" placeholder="Search..">
        <a href="{% url 'view_cart_items' %}" class="btn btn-dark btn-lg" title="Reset View"><i class="fas fa-sync-alt"></i></a>
    </div>
    <div class="table-responsive">
        {% csrf_token %}
        <table class="table table-bordered"  id="myTable">
            <thead class="table-secondary">
            <tr>
                <th class="w1">No</th>
                <th class="w2">Send Date</th>
                <th class="w3">Send To</th>
                <th class="w4">Product Description</th>
                <th class="w5">Model No.</th>
                <th class="w6">Serial No.</th>

                <th class="w7">Received By</th>
                <th class="w8">Action</th>
                <th></th>
            </tr>
            </thead>
            <tbody >
            {% for item in items %}
            <tr  id="{{item.id}}" data-id="{{ item.id }}">
                <td class="w1">{{forloop.counter}}</td>
                <td class="w2">{{item.content_object.date_dispatched.date}}</td>
                <td class="w3 right-to-left-text">{{item.content_object.issued_to.name}}</td>
                {% if item.content_type.id == tdcid %}
                    <td class="w4">{{item.content_object.toner_model.toner_printer.description}} toner</td>
		            <td class="w5">{{item.content_object.toner_model.toner_printer.model_no}}</td>
		            <td class="w6">{{item.content_object.toner_model.toner_model}}</td>
                    <td class="w7 right-to-left-text">{{item.content_object.employee_name}}</td>
                {% elif item.content_type.id == idcid %}
                    <td class="w4">{{item.content_object.model_no.description}}</td>
		            <td class="w5">{{item.content_object.model_no.model_no}}</td>
		            <td class="w6">{{item.content_object.serial_no}}</td>
                    <td class="w7 right-to-left-text">{{item.content_object.employee_name}}</td>
                {% endif %}

                <td class="w8"><a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger" type="submit"
                                  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove from Dispatch">
                    <i class="fas fa-recycle"></i></a>
                </td>
                <td><input type="checkbox" name="item_id[]" value="{{item.id}}" id="bulk_select_action" class="bulk-action-checkbox"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'dispatch' %}" class="btn btn-info dispatch" id="btn-dispatch" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dispatch"><i class="fas fa-shipping-fast"></i></a>
        <a href="{% url 'print_sent_items_invoice' cart.pk %}" target="_blank" rel="noopener noreferrer" class="btn btn-info" id="btn-print_sent_items_invoice" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Print Invoice"><i class="fas fa-receipt"></i></a>
        <button type="submit" class="btn btn-danger select_remove" style="display: none;" id="btn-selectremove">Remove Selected</button>
        <button type="submit" class="btn btn-info select_dispatch" style="display: none;" id="btn-selectdispatch">Dispatch Selected</button>
        <button type="submit" class="btn btn-info select_print_sent_items_invoice" style="display: none;" id="btn-select_print_sent_items_invoice">Invoice Selected</button>

    </div>

</div>
<!--- Messages after CRUD operations --->
{% if messages %}
    {% for message in messages %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
    {% endfor %}
{% endif %}
<!--- Messages after CRUD operations --->
<script>
  // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the breadcrumb text content to "Toners / View Toners"
  currentPageElement.textContent = "Sent Items / View Dispatch Items";

  // Get the <h6> element representing "TEMPLATE"
  var templateElement = document.querySelector('h6.font-weight-bolder.mb-0');

  // Update the text content of the <h6> element to "View Sent Items"
  templateElement.textContent = "View Dispatch Items";
</script>
<div class="text-center mt-5" style="display: none;" >
    <input  id="cart_id" data-value="{{cart.pk}}">
</div>
{% endblock %}