{% extends 'mainpage.html' %}


{% block content %}

<div class="container">
    <div style="clear: both">
        <h2 style="float: left">Cart Items</h2>
        <h4 style="float: right">No.of Items: {{total}}</h4>
    </div>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="w1">No</th>
                <th class="w2">Send Date</th>
                <th class="w3">Send To</th>
                <th class="w4">Product Description</th>
                <th class="w5">Model No.</th>
                <th class="w6">Serial No.</th>
                <th class="w7">Received By</th>
                <th class="w8">Action</th>
                <th class="w8">Parent object ID</th>

            </tr>
            </thead>
            <tbody id="myTable">
            {% for item in items %}
            <tr>
                <td class="w1">{{forloop.counter}}</td>
                <td class="w2">{{item.date_added.date}}</td>
                <td class="w3">{{item.content_object.issued_to.name}}</td>
                {% if item.content_object.id in ltid %}
                    <td class="w4">{{item.content_object.toner_model.toner_printer.description}} toner</td>
		            <td class="w5">{{item.content_object.toner_model.toner_printer.model_no}}</td>
		            <td class="w6">{{item.content_object.toner_model.toner_model}}</td>
                {% elif item.content_object.id in liid %}
                    <td class="w4">{{item.content_object.model_no.description}}</td>
		            <td class="w5">{{item.content_object.model_no.model_no}}</td>
		            <td class="w6">{{item.content_object.serial_no}}</td>
                {% endif %}
                <td class="w7">{{item.content_object.employee_name}}</td>
                <td class="w8"><a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger" type="submit">Remove from Cart</a>
                <td class="w7">{{item.content_object.id}}</td>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'dispatch' %}" class="btn btn-info dispatch">Dispatch</a>
        <a href="{% url 'print_sent_items_invoice' itemsincart %}" target="_blank" rel="noopener noreferrer" class="btn btn-info">Print Invoice</a>
    </div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
</div>

{% endblock %}