{% extends 'mainpage.html' %}
{% load static %}

{% block content %}

<div class="container" xmlns="">
    <h2>Sent Items</h2>
     <div class="input-group input-group-sm mb-2" id="table-search">
        <input class="form-control" id="search" type="text" placeholder="Search.." >
        <a href="{% url 'view_sent_items' %}" class="btn btn-dark btn-lg" title="Reset View"><i class="fas fa-sync-alt"></i></a>
     </div>
    <div class="table-responsive">
        <table class="table table-bordered auto-width-table" id="myTable">
            <thead class="table-secondary">
            <tr>
                <th class="w1">No</th>
                <th class="w2">Send Date</th>
                <th class="w3">Send To</th>
                <th class="w4">Product Description</th>
                <th class="w5">Model No.</th>
                <th class="w6">Serial No.</th>
                <th class="w7">Received By</th>
                <th class="w8">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items_data %}

            <tr id="{{item.id}}" data-id="{{ item.id }}">
                <td class="w1">{{forloop.counter}}</td>
                <td class="w2">{{item.date_dispatched.date}}</td>
                <td class="w3 right-to-left-text">{{item.issued_to.name}}</td>
                {% if item.type == 'toner' %}
                    <td class="w4">{{item.description}} toner</td>
		            <td class="w5">{{item.model_no}}</td>
		            <td class="w6">{{item.toner_model}}</td>
                    <td class="w7 right-to-left-text">{{item.employee_name}}</td>
                {% elif item.type == 'item' %}
                    <td class="w4">{{item.description}}</td>
		            <td class="w5">{{item.model_no}}</td>
		            <td class="w6">{{item.serial_no}}</td>
                    <td class="w7 right-to-left-text">{{item.employee_name}}</td>
                {% endif %}
                <td class="w8">

                    <a class="btn btn-danger open-return-modal"
                       data-id="{{ item.id }}"
                       data-url="{% url 'return_to_store' item.id %}"
                       data-employee="{{ item.employee_name }}"
                       data-description="{{ item.description|default:'' }}"
                       data-modelno="{{ item.model_no|default:'' }}"
                       data-serial="{{ item.serial_no|default:'' }}"
                       data-toner="{{ item.description|default:'' }} toner"
                       data-toner-model="{{ item.toner_model|default:'' }}"
                       data-toner-printer="{{ item.model_no|default:'' }}"
                       data-type="{{ item.type }}"
                       data-tdcid="{{ tdcid }}"
                       data-idcid="{{ idcid }}"
                       data-bs-toggle="modal"
                       data-bs-target="#returnToStoreModal"
                       title="Return to Store">
                       <i class="fas fa-warehouse" ></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
<!--        <button type="button" class="btn btn-secondary" style="margin-top: -10px;">Close</button>-->
        <a href="{% url 'sentitems_export_topdf' %}"  rel="noopener noreferrer"  class="btn btn-outline-primary btn-sm mb-0 me-3"
           id="btn-exporttopdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="download as pdf"><i class="fas fa-file-pdf"></i></a>
        <a href="{% url 'sentitems_export_toexcel' %}"  rel="noopener noreferrer"  class="btn btn-outline-primary btn-sm mb-0 me-3"
           id="btn-exporttocsv" data-bs-toggle="tooltip" data-bs-placement="bottom" title="download as excel"><i class="fas fa-file-pdf"></i></a>

    </div>


</div>
<!-- Reusable Modal -->
<div class="modal fade" id="returnToStoreModal" tabindex="-1" role="dialog"
     aria-labelledby="returnToStoreLabel" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="returnToStoreLabel">Return Item Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body" id="modal-body-content">
        <!-- Content dynamically filled here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="#" id="confirmReturnBtn" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>
<!--- Messages after CRUD operations --->
{% if messages %}
    {% for message in messages %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
    {% endfor %}
{% endif %}
<!--- Messages after CRUD operations --->
<script>
  // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the breadcrumb text content to "Toners / View Toners"
  currentPageElement.textContent = "Sent Items / View Sent Items";

  // Get the <h6> element representing "TEMPLATE"
  var templateElement = document.querySelector('h6.font-weight-bolder.mb-0');

  // Update the text content of the <h6> element to "View Sent Items"
  templateElement.textContent = "View Sent Items";
</script>

{% endblock %}
