/*-----------------------------------
Sweetalert design
-----------------------------------*/
.swal-modal {
    background-color: rgba(0,0,0,0.6571);
    color:  #fff;
}
.swal-text{
    color:  #fff;
    font-size:  15px;
}
.swal-title{
    color:  #fff;
    font-size:  20px;
}
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners{
    background: none !important;
}
.swal-icon--success{
    border-color:   #ffc107;
}
.swal-icon--success__line{
    background-color:   #ffc107;
}
.swal-button{
    padding:    7px 19px;
    border-radius:  5px;
    background-color:   #ffc107;
    font-size:  12px;
    border: 1px solid #ffc107;
    color:  #111;
}
.swal-button:focus{
    box-shadow: none;
}
.swal-button:not([disabled]):hover{
    background: transparent;
    color:  #fff;
    border: 1px solid #ffc107;
}

/*----------------------------------------------
#Logout btn properties
-----------------------------------------------*/
/*#btn-logout {
    width: 90px;
    float: right;
    margin-right: 70px;
    margin-top: -2px;
}*/

/*----------------------------------------------
# Dispatch page dispatch btn properties
-----------------------------------------------*/
#btn-dispatch {

    width: 90px;
    float: right;

}

/*----------------------------------------------
# Navbar dispatch box properties
-----------------------------------------------*/
/*#dispatch-icon {
    float: right;
    margin-right: 50px;
    margin-left: 15px;
    margin-top: 10px;
    display : flex;
    font-size: 40px;

}*/

#dispatch-icon {

    margin-right: 50px;
    margin-left: 15px;

    display : flex;
    font-size: 25px;

}


.fas[data-count]{
    position:relative;
}
.fas[data-count]:after{
    position: absolute;
    right: -0.75em;
    top: -.75em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 10em;
    line-height: .9em;
    color: white;
    background: red;
    text-align: center;
    min-width: 2em;
    font: bold .5em sans-serif;
}

.fas.fa-box{
    color: white;
}

/*----------------------------------------------
# Navbar restock bell notification properties (id # class .)
-----------------------------------------------*/
/*#bell-notification {
    float: right;
    margin-right: -140px;
    margin-left: 30px;
    margin-top:-15px;
    font-size: 40px;
    cursor:pointer;

}*/
#bell-notification {



    font-size: 25px;
    cursor:pointer;

}


.fas[data-tonerstockalert]{
    position:relative;
}
.fas[data-tonerstockalert]:after{
    position: absolute;
    right: -0.75em;
    top: -.75em;
    content: attr(data-tonerstockalert);
    padding: .5em;
    border-radius: 10em;
    line-height: .9em;
    color: white;
    background: red;
    text-align: center;
    min-width: 2em;
    font: bold .5em sans-serif;
}

.fas.fa-bell{
    color: white;
}


/*----------------------------------------------
#Edit Item Details Form
-----------------------------------------------*/
/*.side-label {
    width: 200px;

}*/
.form-control {
    line-height: 1.2rem;
    margin-left: 60px;
    margin-top:auto;
    margin-bottom: 10px;

}
#toner_model_bulk_modal.form-control,#toner_quantity_bulk_modal.form-control{
    margin-left:auto;
}
.side-label {

    width:200px;
    text-align:left;

}

  .bordered-label {
    border: 1px solid black;
    padding: 5px;
    display: inline-block; /* This ensures the border size fits the content */
  }

.input-group-prepend {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #e9ecef;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}



/*----------------------------------------------
# pagination number color
-----------------------------------------------*/
.page-item.active.page-link{
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;

}
.pagination > li > a {
    background-color: #fff;
    color: #6c757d;

}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover{
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}

/*----------------------------------------------
# pagination hide search box
-----------------------------------------------*/
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: auto;
    display: inline-block;
    width: auto;
    visibility: hidden;
}

/*----------------------------------------------
# pagination hide search label
-----------------------------------------------*/
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    display: none;
    text-align: left;

}

/*----------------------------------------------
# user registration page error message
-----------------------------------------------*/
.error-msg{
    font-size:  18px;
    color:      #FF0000;

}

#btn-exporttopdf {

    margin-top: 20px;
    position: absolute;

}
#btn-exporttocsv{
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
}
#btn-bulkdelete{
    margin-top: 20px;
    margin-left: 210px;
    position: absolute;
}

#btn-bulkdispatch{
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
}


div.dt-buttons {
    margin-left: 40px;
    position: absolute;
}

/*----------------------------------------------
# selectpicker box border and background
-----------------------------------------------*/
/*.btn-light {
    --bs-btn-bg: white;
    --bs-btn-border-color: #ced4da;
}*/


/*----------------------------------------------
# put the buttons in actions coloumn in a single line
-----------------------------------------------*/
.button-container {
  white-space: nowrap;
}

.button-container button {
  display: inline-block;
  margin-right: auto;/* Adjust as needed to add spacing between buttons */
}




/*----------------------------------------------
# allign the arabic texts from right to left
-----------------------------------------------*/
.right-to-left-text{
  direction: rtl;

}


/*----------------------------------------------
# allign the btn-back-to-viewitems in view item details page
-----------------------------------------------*/
/*#btn-back-to-viewitems{
    margin-top: -40px;
    margin-left: 100px;
    position: absolute;
}*/


/*----------------------------------------------
# allign the btn-back-to-viewtoners in view toner details page
-----------------------------------------------*/
/*#btn-back-to-viewtoners{
    margin-top: -40px;
    margin-left: 100px;
    position: absolute;
}*/

/*----------------------------------------------------
Dropdown submenu css
-----------------------------------------------*/

        .dropdown-menu li{
            position:relative;
        }

        .dropdown-menu.submenu{
            display:none;
            position:absolute;
            left:100%;
            top:-7px;
        }

        .dropdown-menu>li:hover>.submenu{
            display:block;
        }
/*----------------------------------------------------
Dropdown submenu css
-----------------------------------------------*/

/*----------------------------------------------------
# Datepicker dropdown
-----------------------------------------------*/
/*.datepicker {
  transform: translate(0, 1em);

}*/

#btn-selectremove{

    margin-left: 550px;
    position: absolute;
}

#btn-selectdispatch{

    margin-left: 390px;
    position: absolute;
}

#btn-select_print_sent_items_invoice{
    margin-left: 705px;
    position: absolute;
}

/* highlight edited row letters */
.highlight  {
                        background-color: yellow; /* You can customize the highlighting color */
                    }



/*.date-picker-container {
    flex:auto;
    margin-top: -17px;
    font-size: 0.875rem;

}*/

input.form-control.datepicker {

    margin-left:auto;
    line-height: 1.9rem;
    width: 156%

}


/****************************New Loginpage*************************************/
.loginpage {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    /*background: linear-gradient(to right, #b92b27, #1565c0)*/
    /*background:linear-gradient(#141e30, #243b55);*/
    background: #222D32;
}
.text-muted-loginpage{
    color: #ffffff!important;
}
.text-muted-registerationpage{
    color: #ffffff!important;
}
.forgot-text-muted{
    color: #ffffff!important;
}
.card{
    margin-bottom:20px;
    border:none;
    text-align: center;

}
input.form-control#username::placeholder {
    color: grey;

}
input.form-control#password::placeholder {
    color: grey;

}
.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;

    background: #191919;

    /*text-align: center;*/
    transition: 0.25s;
    margin-top: 200px;



}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.form-check-input#show-password-checkbox[type="checkbox"] {
    margin-left: 5px !important;
    margin-top:-10px !important;
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box button[type="submit"]:hover {
    background: #2ecc71
}

a.register-button.btn {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: auto;
    outline: none;
    color: white;
    width: 110px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

a.register-button.btn:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

/****************************New Registrationpage*************************************/
.registerationpage {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: linear-gradient(to right, #b92b27, #1565c0)*/
    /*background:linear-gradient(#141e30, #243b55);*/
    background: #222D32;
}
input.form-control#id_username::placeholder {
    color: grey;

}
input.form-control#id_password1::placeholder {
    color: grey;

}
input.form-control#id_password2::placeholder {
    color: grey;

}

p.text-muted-loginpage a#registerpage_sigin {
    color: #2ecc71; /* Default color for "sigin" */
    text-decoration: none; /* Remove underline */
}

p.text-muted-loginpage a#registerpage_sigin:hover {
    color: #3498db; /* Color change on hover */
    text-decoration: underline; /* Underline on hover */
}

.dropdown-menu-wrapper.prosecution,.dropdown-menu-wrapper.items{
    opacity: 1; /* Start with opacity 0 to hide the dropdown menu */

    background-color: black !important; /* Set background color */

   /* Add box shadow */


}
.dropdown-item.viewprosecution,.dropdown-item.addprosecution {
    text-align: center;

    /* Add more styles as needed */
}

/* Dropdown box for each subdropdown */
.dropdown-menu.prosecution,.dropdown-menu.items,.dropdown-menu.addtab,.dropdown-menu.edittab,.dropdown-menu.toners,
.dropdown-menu.reports,.dropdown-menu.contracts,.dropdown-menu.sentitems {
    top: 100%;
    left: 0;
    margin-top: auto;

    /* Adjust the offset to add padding between popper and reference element */

    --bs-dropdown-offset: 0 10px;
    background-color: #3c3c43;
    border: 1px solid black;

}
.dropdown-menu.prosecution .dropdown-item:hover {
    background-color: white;
}

.dropdown-menu.prosecution .dropdown-item, .dropdown-menu.items .dropdown-item, .dropdown-menu.reports .dropdown-item,
.dropdown-menu.contracts .dropdown-item,.dropdown-menu.sentitems .dropdown-item{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: grey;
    color: #ffffff; /* text color */
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.dropdown-menu.prosecution .dropdown-item:hover, .dropdown-menu.items .dropdown-item:hover,
.dropdown-menu.reports .dropdown-item:hover,.dropdown-menu.contracts .dropdown-item:hover,
.dropdown-menu.sentitems .dropdown-item:hover{
    background-color: #e43270;
    border-color: black;
    color: white; /* text color on hover */
}


#table-search {

    width:97%;
}

.bs-searchbox .form-control {

    margin-left: 5px;
}
#search.form-control {
    margin-top: 10px;
}
/*select.form-control{
    color: blue; *//* Example color (change to desired color) *//*
    border-color:red;

}*/
.selectpicker.form-control {
    border-color: blue !important;
}
div.dropdown.bootstrap-select.form-control{
    border-color: blue !important;
}
div.dropdown.bootstrap-select.form-control.show select#issued_to {
    border-color: blue !important;
}

.login-logo {


    width: 500px;
    padding: 40px;
    position: absolute;
    margin-top: 70px;
    left: 50%;
    background: #191919;

    text-align: center;
    transition: 0.25s;

    background-color: transparent !important;

    border-radius: 50%;
    z-index: 1;
}

