/*-----------------------------------
Sweetalert design
-----------------------------------*/
.swal-modal {
    background-color: rgba(0,0,0,0.6571);
    color:  #fff;
}
.swal-text{
    color:  #fff;
    font-size:  15px;
}
.swal-title{
    color:  #fff;
    font-size:  20px;
}
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners{
    background: none !important;
}
.swal-icon--success{
    border-color:   #ffc107;
}
.swal-icon--success__line{
    background-color:   #ffc107;
}
.swal-button{
    padding:    7px 19px;
    border-radius:  5px;
    background-color:   #ffc107;
    font-size:  12px;
    border: 1px solid #ffc107;
    color:  #111;
}
.swal-button:focus{
    box-shadow: none;
}
.swal-button:not([disabled]):hover{
    background: transparent;
    color:  #fff;
    border: 1px solid #ffc107;
}

/*----------------------------------------------
#Logout btn properties
-----------------------------------------------*/
#btn-logout {
    width: 90px;
    float: right;
    margin-right: 25px;
}