{% extends 'mainpage.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
                    <div class="card m-4" >
                        <div class="card-body">
                            <div id="itemchart"> {{ item_plot_html|safe }}</div>
                        </div>
                    </div>
        </div>

        <div class="col-md-6">
                    <div class="card m-4 " >
                        <div class="card-body">
                            <div id="chart"> {{ toner_plot_html|safe }}</div>
                        </div>
                    </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                    <div class="card m-4 " >
                        <div class="card-body">
                            <input type="text" id="datepicker" placeholder="Select Date Range">
                            {% if not has_data %}
                                <div class="alert alert-info">
                                    No data available for the selected date range.
                                </div>

                            {% endif %}

                            <div id="tonerstatuschart"> {{ toner_status_chart|safe }}</div>
                        </div>
                    </div>
        </div>
    </div>
<script>
  // Get the element representing the current page
  var currentPageElement = document.getElementById('currentPage');

  // Set the breadcrumb text content to "Toners / View Toners"
  currentPageElement.textContent = "Dashboard";

  // Get the <h6> element representing "TEMPLATE"
  var templateElement = document.querySelector('h6.font-weight-bolder.mb-0');

  // Update the text content of the <h6> element to "View Sent Items"
  templateElement.textContent = "Dashboard";
</script>
{% endblock %}