{% extends 'mainpage.html' %}

{% block navbar-content %}

{% endblock %}


{% block content %}
<body class="loginpage">
<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <div class="card">

                <form autocomplete="off" method="POST" novalidate id="login-form" class="box">
                    {% csrf_token %}
                    <h1>Login</h1> <p class="text-muted-loginpage"> Please enter your username and password!</p>
<!--                    <input type="text" name="" placeholder="Username">-->
                    <input class="form-control" name="username" id="username" placeholder="Username" type="text" required>
<!--                    <input type="password" name="" placeholder="Password">-->
                    <input class="form-control" name="password" id="password" placeholder="Password" type="password" required>
                    <!-- Show Password checkbox -->
                    <div class="form-check" style="margin-left: 110px; display: flex; align-items: center;">
                        <input class="form-check-input"  type="checkbox" id="show-password-checkbox" onclick="togglePasswordVisibility('password')">
                        <label class="form-check-label" for="show-password-checkbox" style="color: white; margin-left: 10px;">
                            Show Password
                        </label>
                    </div>
                    <a class="forgot-text-muted" href="#">Forgot password?</a>

<!--                    <input type="submit" name="" value="Login" href="#">-->
                    <button type="submit" >Log In</button>
                    <a href="{% url 'register' %}" class="register-button btn">Register</a>


                </form>
            </div>
        </div>
    </div>
</div>
</body>
{% block footer %}
{% endblock %}
{% block settings %}
{% endblock %}
<!--- Messages after new user registration  --->
{% if messages %}
    {% for message in messages %}
            <script>
                 var m= "{{ message }}";
                 swal({
                       title: "Good job!",
                       text: m,
                       icon: "success",
                      });
            </script>
    {% endfor %}
{% endif %}
<script>
    function togglePasswordVisibility(passwordId) {
            var passwordInput1 = document.getElementById(passwordId);

            var showPasswordCheckbox = document.getElementById('show-password-checkbox');

            if (showPasswordCheckbox.checked) {
                passwordInput1.type = 'text';

            } else {
                passwordInput1.type = 'password';

            }
        }
</script>
<!--- Messages after new user registration  --->
<div class="text-center mt-5" style="display: none;">
<div id="login-redirect-url" data-url="{% url 'mainpage' %}"></div>
</div>
{% endblock %}